* {
    box-sizing: border-box;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

body {
    margin: 0;
    font-size: 1em;
    font-weight: normal;  
    font-family: Montserrat, arial, helvetica, sans-serif;
    background: #faebd7;
}

 header {
    background: #faebd7;
    margin-bottom: 10px;
    padding: 1px;
    font-size: 1em;
    color: #e71e07;
    border: 2px solid #e71e07;
    box-shadow: -2px 0px #e71e07;
    text-shadow: -2px 0px #e71e07;
}

#overview h2, #hobbies h2, #personal h2, #contact h2{
  font-weight: bold;
  margin: .3em;
  margin-bottom: 0;
}

#banner {
    background-color: #e71e07;
    margin: 0;
    width: 100%;
    top: 0;
    border: 4px solid #faebd7;
    box-shadow: -2px 0px #e71e07;
}

#banner h1{
  color: #faebd7;
  font-size: 3em;
  font-style: bold;
  text-transform: uppercase;
  text-shadow: -5px 0px #e71e07;
  padding: .2em;
  margin-bottom: 0;
}

nav{
  background: #faebd7;
  padding: 0;
  border: 4px solid #faebd7;
  box-shadow: -2px 0px #e71e07;
}

nav li{
  display: inline;
  background: #e71e07;
  margin: .5em;
  padding: 0em;
}

nav a {
  text-decoration: none;
  color: #faebd7;
  border: 1px solid #faebd7;
  font-weight: bold;
  padding: .5em;
  background: #e71e07;
}

a:hover{
  background-color: #80DEEA;
}

#overview, #hobbies, #experience, #contact{
  border: 1px solid black;
  padding: 40px;
  margin: 20px;
  color: black;
  box-shadow: 0px 0px 50px 6px #444;
}

#contact a{
  text-decoration: none;
  color: #e71e07;
}

#contact a:hover{
  background-color: #80DEEA;
}

footer{
  background: #faebd7;
  color: black;
  padding: 0;
}

footer a{
  font-family: Montserrat, arial, helvetica, sans-seriff;
  text-decoration: none;
  color: black;
  display: inline;
  margin: .5em;
  padding: .5em;
  border: 1px solid #e71e07;
}

footer a:hover{
  background-color: #80DEEA;
}
