* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  font-family: 'Times New Roman', serif;
  background: #FFFFFF;
  overflow-x: hidden; /* Prevent horizontal overflow */
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center content horizontally */
  padding: 0 1rem; /* Padding on sides */
  flex-direction: column; /* Stack children vertically */
}

.page {
  min-height: 100vh;
  position: relative;
  text-align: center;
  padding: 0rem 1rem; /* Inner padding */
  margin: 0 auto; /* Auto margin for horizontal centering */
  max-width: 600px; /* Adjust this value to control content width */
}

.page:not(:first-child) {
  padding-top: 14rem;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#banner {
  align-self: stretch; /* Make banner stretch full width */
  text-align: center; /* Center title text */
  padding: 2%;
  margin: 2%;
  width: 96%;
  border-bottom: 1px solid #000000;
}

#banner h1{
text-align: center;
font-size: 2em;
text-transform: uppercase;
padding: .2em;
margin-bottom: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #F0F0F0;
  border-bottom: 1px solid #000000;
  padding-left: 1rem; /* Add padding to align the menu items to the left */
}

nav ul {
  margin: 0; /* Reset margin for the ul element in the nav */
  padding: 0;
  list-style-type: none;
}

nav li {
display: inline;
margin: .5em;
padding: 0em;
}

nav a {
text-decoration: underline;
color: #000000;
font-weight: bold;
padding: .5em;
}

a:hover{
text-decoration: none;
}

header {
/* border-top: 1px solid #000000;
border-bottom: 1px solid #000000; */
margin-bottom: 10px;
margin-top: 10px;
padding: 1px;
font-size: 1em;
}

#overview h2, #blog h2, #about h2{
font-weight: bold;
margin: .3em;
margin-bottom: 0;
}

#overview, #blog, #about{
padding: 20px;
margin: 20px;
border: 1px solid #000000;
}

footer {
  background: #F0F0F0;
  border-top: 1px solid #000000;
  width: 100%; /* Ensure footer takes full width */
  left: 0;
  right: 0;
}

footer a{
text-decoration: underline;
color: #000000;
}

footer a:hover{
text-decoration: none;
}

#json {
font-family: Arial, sans-serif;
background-color: #f5f5f5;
padding: 10px;
border: 1px solid #ccc;
overflow-x: auto;
}

/* Dropdown Menu Styles */
#menu ul {
  list-style-type: none;
  padding: 0;
}

#menu li {
  position: relative;
  display: inline-block;
}

#menu .dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#menu .dropdown li {
  display: block;
}

#menu .dropdown li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#menu .dropdown li a:hover {
  background-color: #f1f1f1;
}

#menu li:hover .dropdown {
  display: block;
}